#articleId{
    border: solid gray 2px;
    background-color: whitesmoke;
    padding: 10px;
    width: 20%;
    text-align: center;
    display: inline-block;
    margin: 10px;
}

#searchBar{
    width: 30%;
    padding: 4px;
    opacity: 85%;
    position: relative;
}

#searchBar:hover{
    opacity: 100%;
}


#boutonFav{
    padding: 2px;
    border-bottom-color: gray;
    border-radius: 10px;
    transition: 0.2s;
}

#boutonFav:hover{
    background-color: darkseagreen;
    transition: 0.2s;
}






